<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"  type='text/css'>
</head>
<footer class="uoc-footer">
  <div class="grow1 uoc-center-left">  
    <picture>
      <source srcset="./assets/images/logocyber.png?as=webp" type="image/webp" class="uoc-logo"/>
      <img src="./assets/images/logocyber.png" alt="Logo-Cyber" class="uoc-logo" />
    </picture>
  </div>
  <div class="uoc-footer-4c text-center grow3">
    <p><a href="index.html">Pagina principal</a></p><p><a href="pageone.html">Quienes somos?</a></p><p><a href="pagetwo.html">Que ofrecemos?</a></p><p><a href="pagethree.html">Eventos</a></p>
  </div>
  <div class="grow1 text-center">
    <p><span class="fa-brands fa-google-plus-g"></span> <i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-twitter"></i></p>
  </div>
</footer>
