<footer class="uoc-footer">
  <div class="grow1 uoc-center-left">  
    <picture>
      <source srcset="./assets/images/logocyber.png?as=webp" type="image/webp" class="uoc-logo"/>
      <img src="./assets/images/logocyber.png" alt="Logo-Cyber" class="uoc-logo" />
    </picture>
  </div>
  <div class="uoc-footer-4c text-center grow3">
    <p><a href="index.html">Pagina principal</a></p><p><a href="pageone.html">Quienes somos?</a></p><p><a href="pagetwo.html">Que ofrecemos?</a></p><p><a href="pagethree.html">Eventos</a></p>
  </div>
  <div class="grow1 text-center">
    <h1>
      <span class="fa fa-twitter"></span>
      <span class="fa fa-facebook"></span>
      <span class="fa fa-github"></span>
      <span class="fa fa-instagram"></span>
    </h1>
  </div>
</footer>
