<header class="uoc-header">
  <div class="grow1 uoc-center-left">  
    <a href="index.html"><picture>
      <source srcset="./assets/images/logocyber.png" type="image/webp" class="uoc-logo" />
      <img src="./assets/images/logocyber.png" alt="Logo-Cyber" class="uoc-logo" />
    </picture></a>
  </div>
  <div class="uoc-header-3c text-center grow1">
    <p><a href="pageone.html">Quienes somos?</a></p><p><a href="pagetwo.html">Que ofrecemos?</a></p><p><a href="pagethree.html">Eventos</a></p>
  </div>
</header>
